.findIdPw-container{
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
    justify-content: center; /* 수직 가운데 정렬 */
}

.find-Id-Pw{
    width: 100%;
    background-color: rgb(124, 182, 38);
    padding: 20px;
    text-align: center;
}

.Link-list{
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 0px 100px;
}

.Link-list:hover{
    background-color: greenyellow;
    padding: 21px;
    color: black;
}

.findId-container{
    width: 50%;
    padding: 20px;
}

.findId-title{
    border-bottom: 2px solid gray;
    margin-top: 50px;
}

.findId{
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 70px;
    height: 400px;
}

.findId-input{
   margin-top: 50px;
   margin-left: 30px;
   display: flex;
   align-items: center; /* 수평 가운데 정렬 */
}

.findId-input label{
    font-weight: bold;
    font-size: 20px;
}

.findId-input input{
    border-radius: 10px;
    width: 95%;
    border: none;
    background-color: gainsboro;
    padding: 10px;
}

.findId-input > div:nth-child(1) {
	width: 17%;
}

.findId-input  > div:nth-child(2) {
	width: 83%;
}


.error-message{
    color: red;
}

.findResult{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}




/*********************** password 찾기 ***********************/
.findPw-container{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.findPw-title{
    border-bottom: 2px solid gray;
    margin-top: 50px;
}

.findPw{
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 70px;
    height: 400px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.findPw-input{
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
    align-items: center; /* 수평 가운데 정렬 */
 }

 .findPw-input label{
    font-weight: bold;
    font-size: 20px;
}

.findPw-input input{
    border-radius: 10px;
    width: 95%;
    border: none;
    background-color: gainsboro;
    padding: 10px;
}

.findPw-input > div:nth-child(1) {
	width: 17%;
}

.findPw-input  > div:nth-child(2) {
	width: 83%;
}

.findPw button{
    width: 100%;
    margin: 30px auto;
}

.error-message{
    color: red;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}


