
/* ν—¤λ”*/
header {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    border-bottom:1px solid #333;
    box-shadow: 0 0 5px #333;
}
  
.header-top {
    display: flex;
    align-items: center; 
    width: 100%;
    padding: 10px; 
}
  
.brand-logo {
    margin-left: 50px;
    padding: 10px;
    width: 170px;
}

.search-bar {
    margin-left: 350px;
    flex: 1; 
    max-width: 800px;
    padding: 10px;
    background-color: #ffffff;
    position: relative;
}

.search-input-container {
    flex: 1;
    position: relative;
}

.search-input {
    padding-right: 40px;
}

.search-button {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    border: none; 
    background: none; 
    padding: 0;
    cursor: pointer; 
}
  
.navbar-container {
    width: 100%;
    background-color: white;
}

.navbar-items{
    justify-content :center;
}
.item{
    margin-right: 150px;
}

.login-session {
    position: absolute;
    top: 10px; 
    right: 10px; 
}

.login-hypertext{
    font-size: small;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
    color: black;
}

/* ν‘Έν„° */
.footer{
    background-color: darkgreen;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin-top: 200px;
}

.footer-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer a{
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}
.footer-links a:hover{
    text-decoration: underline;
}
