/* MyPageModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .password-input {
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 400px;
    max-width: 100%;
  }
  
  /* 버튼 컨테이너 */
  .modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px; /* 버튼 간의 간격 */
  }
  
  /* 확인 버튼 */
  .confirm-button {
    background-color: #4caf50; /* 초록색 배경 */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* 둥근 모서리 */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* 배경색 변경 애니메이션 */
  }
  
  .confirm-button:hover {
    background-color: #45a049; /* 호버 시 색상 변경 */
  }
  
  /* 취소 버튼 */
  .cancel-button {
    background-color: #f44336; /* 빨간색 배경 */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* 둥근 모서리 */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* 배경색 변경 애니메이션 */
  }
  
  .cancel-button:hover {
    background-color: #e53935; /* 호버 시 색상 변경 */
  }