.webcam-layout-container {
    position: absolute; 
    width: 1000px; 
    height: 1000px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.webcam-container, .blackScreen {
    position: absolute;
    width: 100%; 
    height: 56.25%; 
    object-fit: cover; 
    margin-left: 50%;
}

.blackScreen {
    background-color: black;
    z-index: 10; 
}

.button-container {
    margin-left: 50%;
    margin-top: 70%;
    z-index: 1; 
}