<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="b2o4.mapper.MainPageMapper">

	<!-- 가장 인기 높은 스타디움 3개 가져오기 -->
	<select id="getStadiumList" resultType="b2o4.dto.MainPage">
		SELECT og.stadiumName, og.stadiumImage, (SUM(rv.likeCount) - SUM(rv.dislikeCount)) as totalLike
		FROM stadium og
		JOIN stadiumreview rv ON og.stadiumNo = rv.stadiumNo
		GROUP BY og.stadiumNo, og.stadiumName, og.stadiumImage
		ORDER BY totalLike DESC 
		LIMIT 3
	</select>
	
	<!-- 갤러리 게시판에서 게시물 3개 랜덤으로 가져오기 -->
	<select id="getGalleryList" resultType="b2o4.dto.MainPage">
		SELECT * FROM galleryboard ORDER BY RAND() LIMIT 3
	</select>
	
	<!-- 용품 장터에서 용품 3개 랜덤으로 가져오기 -->
	<select id="getGoodsList" resultType="b2o4.dto.MainPage">
		SELECT * FROM goodsshop ORDER BY RAND() LIMIT 3
	</select>
</mapper>