<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="b2o4.mapper.MemberMapper">

    <select id="findAllMember" resultType="b2o4.dto.Member">
        SELECT * FROM members
    </select>

    <insert id="insertMember">
        INSERT INTO members (memberId, memberPw, memberEmail, memberName, memberBirth, memberPhone, memberAddress, memberProfile)
        VALUES (#{memberId}, #{memberPw}, #{memberEmail}, #{memberName}, #{memberBirth}, #{memberPhone}, #{memberAddress}, #{memberProfile})
    </insert>

    <select id="idCheck" resultType="int">
        SELECT COUNT(*) FROM members WHERE memberId = #{memberId}
    </select>

    <insert id="signup">
        INSERT INTO members (memberId, memberPw, memberEmail, memberName, memberBirth, memberPhone, memberAddress, memberProfile)
        VALUES (#{memberId}, #{memberPw}, #{memberEmail}, #{memberName}, #{memberBirth}, #{memberPhone}, #{memberAddress}, #{memberProfile})
    </insert>

</mapper>
