.goods-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

/* 제목 */
.goods-container h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 60px;
    color: #333;
}

/* 상품 컨텐츠 */
.goods-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* 각 상품 */
.goods {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
/*
.goods:hover {
    transform: translateY(-10px);
}
*/
/* 이미지 */
.goods img {
    width: 100%;
    height: 350px;
    /* border-radius: 10px; */ 
    margin-bottom: 10px;
}

/* 상품 제목 */
.goods h2 {
    font-size: 25px;
    color: #000000;
    margin-bottom: 10px;
}

/* 상품 정보*/
.goods p {
    margin: 5px;
    color: #555;
}

/* 장바구니 추가버튼*/
.goods button {
    margin-top: auto;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.goods button:hover {
    background-color: #e65b50;
}

.GoodsDetail-link {
    text-decoration: none;
}