.detail-container {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    justify-content: center;
}

.detail-container img {
    margin: 15px 35% 0 35%;
    width: 30%;
    height: 30%;
    align-items: center;
}

.detail-container h2 {
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
}

.detail-container p {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.detail-container .detail-text p {
    text-align: center;
    max-width: 44%;
    margin: 10px 28% 10px 28%;
}

/*버튼*/
.buttons {
    text-align: center;
}

.cartadd-button button {
    width: 130px;
    height: 50px;
    background-color: #ff6f61;
    color: white;
    border-radius: 5px;
    border-style: none;
    margin: 10px;
}

.back-button button {
    width: 130px;
    height: 50px;
    background-color: rgb(53, 181, 89);
    color: white;
    border-radius: 5px;
    border-style: none;
    margin: 10px;
}

.buttons .cartadd-button button:hover {
    background-color: #e65b50;
}

.buttons .back-button button:hover {
    background-color: rgb(24, 148, 59);
}